.post-edit-user-button {
  background-color: #2dd787;
    color: white;
    display: inline-block;
    padding: 0.5em 2em;
    text-align: center;
    text-shadow: rgba(0,0,0,0.4) 0px 3px 8px;
    text-decoration: none !important;
    border-radius: 5px;
    font-size: 1rem;
    // left: 100%;
    // transform: translateX(-100%);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.post-edit-user-button::after {
    content: '';

    background-color: #fff;
    border-radius: 50%;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    padding-top: 100%;
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    z-index: -1
}

.post-edit-user-button:hover::after {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.1
}

.post-destroy-user-button {
  background-color: #ff0000;
    color: white;
    display: inline-block;
    padding: 0.5em 2em;
    text-align: center;
    text-shadow: rgba(0,0,0,0.4) 0px 3px 8px;
    text-decoration: none !important;
    border-radius: 5px;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.post-destroy-user-button::after {
    content: '';
    color: white;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    padding-top: 100%;
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    z-index: -1
}

.post-destroy-user-button:hover::after {
    color: white;
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.1
}

.publish-list {
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    width: 100%
}

.post-list__item {
  border-radius: 10px;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    position: relative;
    overflow: hidden;
    width: 31%;
    z-index: 0
}

.post-list__item > div {
  display: flex;
  margin-bottom: 8px;
}

.post-list__item  dt {
    background-color: #6dbec8;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    color: #fff;
    vertical-align: middle;
    padding: 1em 2em;
    text-align: center;
    white-space: nowrap;
    width: 250px;
}

.post-list__item  dd {
    border-bottom: 1px solid #6dbec8;
    padding: 1em;
    margin-bottom: 0px;
    width: 350px;
}

.post-detail > div {
  display: flex;
  margin-bottom: 8px;
}

.post-detail dt {
    background-color: #6dbec8;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    color: #fff;
    vertical-align: middle;
    padding: 1em 2em;
    text-align: center;
    white-space: nowrap;
    width: 250px;
}

.post-detail dd {
    border-bottom: 1px solid #6dbec8;
    padding: 1em;
    margin-bottom: 0px;
    width: 350px;
}

.header3 {
 border-bottom: 1px solid #6dbec8;
    font-size: 1.5rem;
}

.comment-box {
  background-color: #eeeeee;
    border-radius: 5px;
    justify-self: baseline;
    padding: 1.25em;
}

.card-post{
  display: inline-block;
  margin: 10px 0;
  width: 30%;
  border-radius: 50px;
}

.comment-header{
  background-color: #fff;
}

.post-detail1{
  background-color: #6dbec8;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    color: #fff;
    vertical-align: middle;
    padding: 1em 2em;
    text-align: center;
    white-space: nowrap;
    width: 50%;
}

.post-detail2{
  border-bottom: 1px solid #6dbec8;
    padding: 1em;
    margin-bottom: 0px;
    width: 50%;
}

.post-detail-group {
  position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
}