<h2 class="heading heading-1">ユーザー一覧</h2>
<div class='container my-5 bg-white' style="padding: 10px;">
  <div class='row d-flex justify-content-center'>
    <div class='col-md-10'>

      <table class="table" style="background-color: #fff;">
        <thead>
          <tr>
            <%= flash[:notice] %>
          </tr>
          <tr style="background-color: #60c1d9;">
            <th><会員ID</th>
            <th>ユーザーネーム</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <% @users.each do |user| %>
          <tr>
            <td>
              <%= user.id %>
            </td>
            <td><%= link_to "#{user.name}",admin_user_path(user) %></td>

            <td><%= user.email %></td>
            <td>
              <% if user.user_status %>
                <div class="text-success">有効</div>
              <% else %>
                退会
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>